name: Deploy Stack to Swarm

on:
  push:
    branches:
      - main
    paths:
      - 'docker-compose.prod.yml' # Only run if the PROD file changes

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Copy Stack File to Server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SWARM_HOST }}
          username: ${{ secrets.SWARM_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "docker-compose.prod.yml"
          target: "/opt/stacks/my-repo"
          # This will create the folder /opt/stacks/my-repo on your server

      - name: Deploy Stack
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SWARM_HOST }}
          username: ${{ secrets.SWARM_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /opt/stacks/my-repo
            # Deploy the stack (Update 'main_stack' to whatever you want to call your stack in Swarmpit)
            docker stack deploy -c docker-compose.prod.yml main_stack
